* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

h1 {
    color: pink;
    margin-bottom: 15px;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 10px;
}

.combate {
    display: none;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 300px;
    width: 400px;
    background-color: pink;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    color: rgb(229, 251, 217);
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.combate h2 {
    text-align: center;
}

.eleccion {
    color: pink;
    background-color: palevioletred;
    border: none;
    border-radius: 10px;
    height: 50px;
    transition: .3s;
    width: 90px;
}

.eleccion:hover {
    background-color: pink;
    color: white;
}

.ok {
    height: 30px;
    width: 50px;
    color: pink;
    background-color: palevioletred;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

.ok:hover {
    background-color: rgb(250, 164, 178);
    color: white;
}

.puntaje {
    position: absolute;
    top: 10px;
    right: 100px;
}

.TuPuntaje {
    color: #564101;
}

.PuntajePC {
    color: #564101;
}